.o-layout {
  @include flex(row, 0, 0);

  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: transparent;

  &__mainContents {
    display: flex;
    flex: 1 1 700px;
    justify-content: center;

    &-inner {
      display: block;
      margin: 0 auto;
    }
  }
}
