.o-layout {
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px lightblue;
}
