.o-login {
  @include flex(row, 0, 0);

  flex-grow: 1;
  height: 100%;

  &__logo,
  &__form {
    @include flex(column, 0, 0);

    flex: 0 0 100%;

    .has-logo & {
      flex: 0 0 50%;
    }

    align-items: center;
    justify-content: center;
  }

  &__logoImage {
    display: block;
  }
}
