.o-feed {
  display: block;
  width: 100%;
  max-width: 700px;
  border: 1px solid $border-default;
  border-radius: px-pc(5);

  &__inner {
    @include flex(column, 0, 0);

    background-color: $background-white;
    box-shadow: 0 3px 5px $shadow-default;
  }

  &__head {
    @include flex(row, 0, 0);

    align-items: center;
    justify-content: space-between;
    padding: px-pc(20) px-pc(20) 0;

    &-info {
      @include flex(column, 0, 0);
    }

    &-profile {
      @include flex(row, 0, px-pc(10));
    }
  }

  &__body {
    padding: px-pc(20);
  }

  &__foot {
    @include flex(row, 0, 0);

    &-text {
      display: block;
    }

    &-good {
      @include flex(row, 0, px-pc(5));

      flex: 1;
      align-items: center;
      justify-content: center;
      padding: px-pc(5) 0;
    }

    &-comment {
      @include flex(row, 0, px-pc(5));

      flex: 1;
      align-items: center;
      justify-content: center;
      padding: px-pc(5) 0;
    }
  }
}
