.o-header {
  @include flex('row', px-pc(5), 0);

  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  height: auto;
  padding: 5px 20px;
  margin: 0 auto;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 15px lightblue;

  &_menu {
    @include flex('row', px-pc(5), 0);
  }
}
