.o-header {
  @include flex(row, px-pc(5), 0);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 5px 40px;
  margin: 0 auto;
  color: $font-default;
  background-color: $background-default;
  border-bottom: 1px solid $border-default;
  box-shadow: 0 0 5px $shadow-default;

  &_menu {
    @include flex(row, px-pc(5), 0);
  }
}
